
.section_ayuda {
    color: #e00303;
    font-family: 'Teko';
    text-align: center;
    font-size: 100%;
}


.ayuda1 {
    background-color: #00000097;
}

.ayuda2 {
    background-color: #00000097;
}