
.section_ayuda {
    color: $first-color;
    font-family: $font;
    text-align: center;
    font-size: 100%;
}


.ayuda1 {
    background-color: #00000097;
}

.ayuda2 {
    background-color: #00000097;
}
