/*Footer*/
footer {
    background-color: $grey-color;
    padding: 30px;
    color: $white-color;
}

/*Redes Sociales*/

.redes {
    display: flex;
}

.facebook {
    color: $white-color;
    font-size: 300%;
}

.facebook:hover {
    color: #4267B2;
    transition: 1s;
    font-size: 400%;
}

.instagram {
    color: $white-color;
    font-size: 300%;
}

.instagram:hover {
    color: #C13584;
    transition: 1s;
    font-size: 400%;
}

.twitter {
    color: $white-color;
    font-size: 300%;
}

.twitter:hover {
    color: #00acee;
    transition: 1s;
    font-size: 400%;
}

/*Formulario*/
.email {
    color: $first-color;
    font-family: 'Teko';
    text-align: center;
    font-size: 100%;
}

.text_email {
    font-family: 'Teko';
    text-align: center;
    font-size: 120%;
}

.joinbutton {
    background-color: $first-color;
    color: $white-color;
    padding: 16px 20px;
    margin: 8px 0;
    font-family: 'Teko';
    font-size: 150%;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.joinbutton:hover {
    color: $alt-color;
    transition: 1s;
}

.form_email {
    text-align: center;
    font-family: 'Teko';
}