
.firstcolor {
    color: $first-color;
    font-family: 'Teko';
}

.secondcolor {
    color: $second-color;
    font-family: 'Teko';
}

header {
    color: $black-color;
}

p {
    color: $second-color;
    font-family: 'Teko';
    text-align: center;
    font-size: 120%;
}

h1 {
    color: $first-color;
    font-family: 'Teko';
    text-align: center;
    font-size: 500%;

}

nav ul li {
    display: inline-block;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Teko';

}

nav ul li a {
    color: $white-color;
}

.navlink {
    transition: 1s;
}

.navlink :hover {
    color: $first-color;
    transition: 1s;
}

.navlink:hover {
    transform: scale(1, 2);
    transition: 1s;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.lista {
    background-color: $black-color;
}


h2 {
    color: $first-color;
    font-family: 'Teko';
    text-align: center;
    font-size: 300%;
}

h3 {
    color: $alt-color;
    font-family: 'Teko';
    font-size: 200%;
}

.S_header,
.transp {
    background-color: $black-color;
}