/*colores y fonts principales*/
.firstcolor {
    color: $first-color;
    font-family: $font;
    font-display:auto;
}

.secondcolor {
    color: $second-color;
    font-family: $font;
    font-display:auto;
}

header {
    color: $black-color;
}

p {
    color: $second-color;
    font-family: $font;
    font-display:auto;
    text-align: center;
    font-size: 120%;
}

/*H*/

h1 {
    color: $first-color;
    font-family: $font;
    font-display:auto;
    text-align: center;
    font-size: 500%;

}

h2 {
    color: $first-color;
    font-family: $font;
    font-display:auto;
    text-align: center;
    font-size: 300%;
}

h3 {
    color: $alt-color;
    font-family: $font;
    font-display:auto;
    font-size: 200%;
}

/*A*/

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*NAV*/

nav ul li {
    display: inline-block;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: $font;

}

nav ul li a {
    color: $white-color;
}

.navlink {
    transition: 1s;
}

.navlink :hover {
    color: $first-color;
    transition: 1s;
}

.navlink:hover {
    transform: scale(1, 2);
    transition: 1s;
}


/*lista*/

.lista {
    background-color: $black-color;
}

/*fondo de texto inicio*/

.S_header,
.transp {
    background-color: $black-color;
}

/*reproductor multimedia*/

.reproductor{
    margin: 0 auto; 
display: block;
inline-size: -webkit-fill-available;
}