/*imports*/
@import "./base/vars";

/*fondo de pagina*/

.body{
    background-color: $black-color;
    background-image: url(../assets/fotos/pexels-dmitry-demidov-3784566.webp);
    background-position: 50%;
    background-size: 100%;
    background-attachment: fixed;
}

.hero_section {
    background-color: $black-color;
}


/* imagenes */
.images {
    display: $d-flex;
    align-items: $content;
    justify-content: $content;
}

img {
    max-width: 100%;
    height: auto;
}

/*reproductor multimedial*/

.reproductor {
    align-content: $content;
}

/*contenedor de descarga*/

.contenedorbotondescarga {
    text-align: $content;
    width: 100%;
    padding-top: 0px;
}

.contenedorbotondescarga :hover {
    color: $first-color;
    transition: 1s;
}

/*boton de descarga*/
.Botondescarga {
    background-color: #17a633;
    border: none;
    color: $white-color;
    margin: 8px 0;
    padding: 15px 32px;
    text-align: $content;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: $font;
}

