/*media queries*/
@media only screen and (min-width: 160px) {
    h1 {
        color: $first-color;
        font-family: 'Teko';
        text-align: center;
        font-size: 400%;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        min-height: 50vh;
        max-height: 50%;
    }

    .body{
        background-size: 400%;
        background-attachment: fixed;
    }

    .c1 {
        width: 180px;
        height: 70px;
        margin: 20px;
    }

    .c2 {
        width: 180px;
        height: 70px;
        margin: 20px;
    }

    .c3 {
        width: 180px;
        height: 70px;
        margin: 20px;
    }
    
    .inicio__item-2 {
        background-position: 65%;
        grid-column: span 4;
        height: 500px; }
        .inicio__item-3 {
        background-position: 65%;
        grid-column: span 4;
        height: 500px;}
        .inicio__item-4 {
        background-position: 35%;
        grid-column: span 4;
        height: 500px;}
        .inicio__text-1 {
        grid-column: span 4;
        }
}

@media only screen and (min-width: 320px) {
    h1 {
        color: $first-color;
        font-family: 'Teko';
        text-align: center;
        font-size: 400%;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        min-height: 50vh;
        max-height: 50%;
    }

    .body{
        background-size: 400%;
        background-attachment: fixed;
    }

    .c1 {
        width: 180px;
        height: 70px;
        margin: 20px;
    }

    .c2 {
        width: 180px;
        height: 70px;
        margin: 20px;
    }

    .c3 {
        width: 180px;
        height: 70px;
        margin: 20px;
    }

    .inicio__item-2 {
        background-position: 65%;
        grid-column: span 4;
        height: 500px; }
        .inicio__item-3 {
        background-position: 65%;
        grid-column: span 4;
        height: 500px;}
        .inicio__item-4 {
        background-position: 35%;
        grid-column: span 4;
        height: 500px;}
        .inicio__text-1 {
        grid-column: span 4;
        }
}


@media only screen and (min-width: 700px) {
    h1 {
        font-size: 500%;
    }

    .contenedor {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .body{
        background-size: 300%;
        background-attachment: fixed;
    }

    .c1 {
        width: 140px;
        height: 170px;
    }

    .c2 {
        width: 140px;
        height: 170px;
    }

    .c3 {
        width: 140px;
        height: 170px;
    }

    .inicio__item-2 {
        background-position: 65%;
        grid-row: span 1;
        grid-column: span 1;
        height: auto;
        }
        .inicio__item-3 {
        background-position: 65%;
        grid-row: span 1;
        grid-column: span 1;
        height: auto;
        }
        .inicio__item-4 {
        background-position: 35%;
        grid-row: span 1;
        grid-column: span 1;
        height: auto;
        }
        .inicio__text-1 {
        grid-row: span 1;
        grid-column: span 1;
        height: auto;
        }
}


@media only screen and (min-width: 760px) {
    .c1 {
        width: 140px;
        height: 170px;
    }

    .c2 {
        width: 140px;
        height: 170px;
    }

    .c3 {
        width: 140px;
        height: 170px;
    }

    .inicio__item-2 {
        background-position: 65%;
        grid-row: span 1 }
        .inicio__item-3 {
        background-position: 65%;
        grid-row: span 1;}
        .inicio__item-4 {
        background-position: 35%;
        grid-row: span 1 }
        .inicio__text-1 {
        grid-row: span 1;
        }
}

@media only screen and (min-width: 1080px) {
    .c1 {
        width: 200px;
        height: 200px;
    }

    .c2 {
        width: 200px;
        height: 200px;
    }

    .c3 {
        width: 200px;
        height: 200px;
    }
    .inicio__item-2 {
        background-position: 65%;
        grid-row: span 1 }
        .inicio__item-3 {
        background-position: 65%;
        grid-row: span 1;}
        .inicio__item-4 {
        background-position: 35%;
        grid-row: span 1 }
        .inicio__text-1 {
        grid-row: span 1;
        }
}