@mixin tamanio($alto,$ancho,$bg){
    width: $ancho ;
    height: $alto ;
    background-color: $bg;
}

@mixin indexhub($disp,$alignit,$jc){
    display: $disp;
    align-items: $alignit;
    justify-content: $jc;
}

@mixin index ($bg,$bgimg,$bgsz,$bgatt){
    background-color: $bg;
    background-image: $bgimg;
    background-size: $bgsz;
    background-attachment: $bgatt;
}
