@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@font-face {
    font-family: Teko;
    src: url(../assets/font/Teko-SemiBold.ttf)
}

/** inicio **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
